.card {
    display: grid;
    grid-template-columns: auto;
    width: 250px;
    justify-content: center;
    padding: 1em;
}

.cardLight:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 3px gray;
}

.cardLight {
    background-color: var(--light-bg2);
}

.cardDark {
    background-color: var(--dark-bg2) ;
}

.cardDark:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 3px black;
}

.img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.button{
    border: 0;
    padding: .25em;
    border-radius: 3px;
    margin-top: 1em;
}

.buttonLight:hover {
    border: 1px solid black;
}

.buttonDark:hover {
    background-color: gray;
    color: black;
    border: 1px solid black;
}
