* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --dark-bg: #141414;
    --dark-bg2: #222222;
    --dark-fg: white;
    --dark-fg2: #282828;
    --light-bg: white;
    --light-bg2: #BBBBBB;
    --light-fg: black;
}

main {
    padding-top: 50px;
}

.mainLight {
    background-color: var(--light-bg);
    color: var(--light-fg);
}

.mainDark {
    background-color: var(--dark-bg);
    color: var(--dark-fg);
}

.title {
    margin: .5em;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}   