.productGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

@media screen and (max-width: 1024px) {
.productGrid {
    grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
.productGrid {
    grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
.productGrid {
    grid-template-columns: 1fr;
    }
}