/*
Hex 	RGB
#15202b	(21,32,43)
#192734	(25,39,52)
#22303c	(34,48,60)
#ffffff	(255,255,255)
#8899ac	(136,153,172)
*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #22303c;
}

header {
    background-color: #192734;
    color: #8899ac;
    padding: 1em;
    margin: 1em;
    border: 1px solid #8899;
}

main {
    background-color: #192734;
    color: #8899ac;
    margin: 1em;
    border: 1px solid #8899;
}

footer {
    background-color: #192734;
    color: #8899ac;
    padding: 0.25em;
    margin: 1em;
    border: 1px solid #8899;
    text-align: center;
}

section {
    padding: 1em;
    margin: 1em;
    border: 1px solid #8899;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

p {
    border: 1px solid #15202b;
    padding:  0.5rem;
}

.destaque {
    font-style: italic;
    background-color: #15202b;
    padding: .5rem;
}

.importante {
    border-top: 6px solid #15202b;
}